.container{
    background-color:rgba(36, 20, 5, 0.9);
    font-size: 20px;
    display: grid;
    grid-template-rows: 80vh repeat(2,min-content) min-content 1fr;
    grid-template-columns:[full-start center-start] 1fr repeat(8,[col-start] 8rem [col-end]) 1fr[center-end full-end];
    margin-top: 20px;
}
.part2{
    grid-column: center-start/full-end;
    background-image: linear-gradient(rgba(36, 20, 5, 0.9),rgba(36, 20, 5, 0.9)), url("head.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: grid;
}
span{
    color: tomato;
    
}
p{
    justify-self: center;
}
h1{
    justify-self: center;
     
}
button{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: tomato;
    line-height: 1;
    border: 0;
    justify-self: flex-end;
    margin-right: 200px;
}
button:hover{
    height: 40px;
}
.part3{
    background-color:white;
    grid-column: center-start/col-end 3;
    display: grid;
}
img{
    margin:auto;
    border-radius: 50%;
}
.part4{
    background-color: white;
    grid-column: col-start 4/ full-end;
    
}
.part5{
    background-color:white;
    grid-column: center-start/col-end 3 ;
    padding-left: 20px;
}
.part6{
    background-color: white;
    grid-column: col-start 4/ full-end;
    display: grid;
   
}
label progress{
    padding: 10px;
    border-radius: 10px;
}
.part7{
    background-color: darkseagreen;
    grid-column: col-start 3/ col-end 6;
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}
.part8{
    background-color: darkslategray;
    grid-column: full-start/full-end;
}

